@charset "UTF-8";

:root{
    --verde: #49a09d;
    --lilas: #5f2c82;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 30%;
    left: 50%;
    overflow: hidden;
    
    background-color: white;
    width: 75vw;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
    
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: var(--lilas) url("../imagens/metal.jpg") no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

div.campo {
    display: block;
    background-color: var(--lilas);
    border: 2px solid var(--lilas);
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: white;
    font-size: 1.5em;
    width: 40px;
    padding: 8px;
}

div.campo > input {
    background-color: #60cac7;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-5px);
}

div.campo > input:focus {
    background-color: white;
}

input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    background-color: var(--verde);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #357573;
}

a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #24504e;
    border: 1px solid #357573;
    border-radius: 5px;
    text-decoration: none;
}

a.botao:hover {
    background-color: #6cc5c2;
}

a.botao > i {
    font-size: 0.8em;
}